<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="physics" 
             type="WrfSharp.DataStructures.PhysicsConfigurationSection, WrfSharp.DataStructures"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DataDirectory" value="/home/brush/Downloads/wrf/data/"/>
    <add key="GFSProductUrl" value="http://www.ftp.ncep.noaa.gov/data/nccf/com/gfs/prod/"/>
    <add key="WPSDirectory" value="/home/brush/wrf/WPS"/>
    <add key="WRFDirectory" value="/home/brush/wrf/WRFV3/test/em_real"/>
    <add key="WPSNamelist" value="/home/brush/wrf/WPS/namelist.wps"/>
    <add key="WRFNamelist" value="/home/brush/wrf/WRFV3/test/em_real/namelist.input"/>
    <add key="NCARGRoot" value="/usr/local"/>
    <add key="ScriptsDirectory" value="/home/brush/wrf/scripts"/>
    <add key="NCLPath" value="/usr/local/bin/ncl"/>
    <add key="WGRIB2FilePath" value="/usr/local/bin/wgrib2"/>
    <add key="GeogridFilePath" value="/home/brush/wrf/WPS/geogrid.exe"/>
    <add key="LinkGribFilePath" value="/home/brush/wrf/WPS/link_grib.csh"/>
    <add key="UngribFilePath" value="/home/brush/wrf/WPS/ungrib.exe"/>
    <add key="MetgridFilePath" value="/home/brush/wrf/WPS/metgrid.exe"/>
    <add key="CSHFilePath" value="/bin/csh"/>
    <add key="LinkGribCsh" value="/home/brush/wrf/WPS/link_grib.csh"/>
    <add key="MpiRunPath" value="/usr/bin/mpirun"/>
    <add key="WrfExecutablePath" value="/home/brush/wrf/WRFV3/test/em_real/wrf.exe"/>
    <add key="RealExecutablePath" value="/home/brush/wrf/WRFV3/test/em_real/real.exe"/>
    <add key="FFMPEGPath" value="/usr/bin/ffmpeg"/>
    <add key="MP4OutputDirectory" value="/home/brush/wrf/output"/>
  </appSettings>
  <physics>
    <physicsConfigurations>
      <!--<physicsConfiguration
        Name="default"
        mp_physics="3"
        ra_lw_physics="1"
        ra_sw_physics="1"
        radt="30"
        sf_sfclay_physics="1"
        sf_surface_physics="2"
        bl_pbl_physics="1"
        bldt="0"
        cu_physics="1"
        cudt="5"
        isfflx="1"
        ifsnow="1"
        icloud="1"
        surface_input_source="1"
        num_soil_layers="4"
        sf_urban_physics="0"/>-->
      <!--<physicsConfiguration
        Name="one"
        mp_physics="1"
        ra_lw_physics="1"
        ra_sw_physics="1"
        radt="30"
        sf_sfclay_physics="1"
        sf_surface_physics="99"
        bl_pbl_physics="1"
        bldt="0"
        cu_physics="1"
        cudt="5"
        isfflx="1"
        ifsnow="1"
        icloud="1"
        surface_input_source="1"
        num_soil_layers="4"
        sf_urban_physics="1"/>
      <physicsConfiguration
        Name="two"
        mp_physics="2"
        ra_lw_physics="1"
        ra_sw_physics="2"
        radt="30"
        sf_sfclay_physics="1"
        sf_surface_physics="99"
        bl_pbl_physics="1"
        bldt="0"
        cu_physics="2"
        cudt="5"
        isfflx="1"
        ifsnow="1"
        icloud="1"
        surface_input_source="1"
        num_soil_layers="4"
        sf_urban_physics="1"/>
      <physicsConfiguration
        Name="three"
        mp_physics="3"
        ra_lw_physics="99"
        ra_sw_physics="99"
        radt="30"
        sf_sfclay_physics="1"
        sf_surface_physics="1"
        bl_pbl_physics="1"
        bldt="0"
        cu_physics="1"
        cudt="5"
        isfflx="1"
        ifsnow="1"
        icloud="1"
        surface_input_source="1"
        num_soil_layers="4"
        sf_urban_physics="1"/>
      <physicsConfiguration
        Name="four"
        mp_physics="4"
        ra_lw_physics="99"
        ra_sw_physics="1"
        radt="30"
        sf_sfclay_physics="2"
        sf_surface_physics="99"
        bl_pbl_physics="2"
        bldt="0"
        cu_physics="4"
        cudt="5"
        isfflx="1"
        ifsnow="1"
        icloud="1"
        surface_input_source="1"
        num_soil_layers="4"
        sf_urban_physics="1"/>
      <physicsConfiguration
        Name="five"
        mp_physics="5"
        ra_lw_physics="1"
        ra_sw_physics="2"
        radt="30"
        sf_sfclay_physics="3"
        sf_surface_physics="1"
        bl_pbl_physics="3"
        bldt="0"
        cu_physics="3"
        cudt="5"
        isfflx="1"
        ifsnow="1"
        icloud="1"
        surface_input_source="1"
        num_soil_layers="4"
        sf_urban_physics="1"/>-->
      <!--<physicsConfiguration
        Name="six"
        mp_physics="6"
        ra_lw_physics="1"
        ra_sw_physics="99"
        radt="30"
        sf_sfclay_physics="2"
        sf_surface_physics="1"
        bl_pbl_physics="2"
        bldt="0"
        cu_physics="2"
        cudt="5"
        isfflx="1"
        ifsnow="1"
        icloud="1"
        surface_input_source="1"
        num_soil_layers="4"
        sf_urban_physics="1"/>
      <physicsConfiguration
        Name="seven"
        mp_physics="8"
        ra_lw_physics="99"
        ra_sw_physics="1"
        radt="30"
        sf_sfclay_physics="2"
        sf_surface_physics="1"
        bl_pbl_physics="1"
        bldt="0"
        cu_physics="4"
        cudt="5"
        isfflx="1"
        ifsnow="1"
        icloud="1"
        surface_input_source="1"
        num_soil_layers="4"
        sf_urban_physics="1"/>-->
      <!--<physicsConfiguration
        Name="eight"
        mp_physics="8"
        ra_lw_physics="99"
        ra_sw_physics="2"
        radt="30"
        sf_sfclay_physics="3"
        sf_surface_physics="1"
        bl_pbl_physics="1"
        bldt="0"
        cu_physics="1"
        cudt="5"
        isfflx="1"
        ifsnow="1"
        icloud="1"
        surface_input_source="1"
        num_soil_layers="4"
        sf_urban_physics="1"/>-->
    </physicsConfigurations>
  </physics>
</configuration>