<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DataDirectory" value="/home/brush/Downloads/weather/DATA"/>
    <add key="GFSProductUrl" value="http://www.ftp.ncep.noaa.gov/data/nccf/com/gfs/prod/"/>
    <add key="WPSDirectory" value="/home/brush/Downloads/weather/WPS"/>
    <add key="WRFDirectory" value="/home/brush/Downloads/weather/WRFV3/test/em_real"/>
    <add key="WPSNamelist" value="/home/brush/Downloads/weather/WPS/namelist.wps"/>
    <add key="WRFNamelist" value="/home/brush/Downloads/weather/WRFV3/test/em_real/namelist.input"/>
    <add key="NCARGRoot" value="/usr/local"/>
    <add key="NCLDirectory" value="/home/brush/Downloads/weather/code/"/>
  </appSettings>
</configuration>