<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DataDirectory" value="/home/brush/Downloads/wrf/data/"/>
    <add key="GFSProductUrl" value="http://www.ftp.ncep.noaa.gov/data/nccf/com/gfs/prod/"/>
    <add key="WPSDirectory" value="/home/brush/Downloads/wrf/WPS"/>
    <add key="WRFDirectory" value="/home/brush/Downloads/wrf/WRFV3/test/em_real"/>
    <add key="WPSNamelist" value="/home/brush/Downloads/wrf/WPS/namelist.wps"/>
    <add key="WRFNamelist" value="/home/brush/Downloads/wrf/WRFV3/test/em_real/namelist.input"/>
    <add key="NCARGRoot" value="/usr/local"/>
    <add key="NCLDirectory" value="/home/brush/Downloads/wrf/scripts"/>
    <add key="WGRIB2FilePath" value="/usr/local/bin/wgrib2"/>
    <add key="GeogridFilePath" value="/home/brush/Downloads/wrf/WPS/geogrid.exe"/>
    <add key="LinkGribFilePath" value="/home/brush/Downloads/wrf/WPS/link_grib.csh"/>
    <add key="UngribFilePath" value="/home/brush/Downloads/wrf/WPS/ungrib.exe"/>
    <add key="MetgridFilePath" value="/home/brush/Downloads/wrf/WPS/metgrid.exe"/>
    <add key="CSHFilePath" value="/bin/csh"/>
    <add key="LinkGribCsh" value="/home/brush/Downloads/wrf/WPS/link_grib.csh"/>
  </appSettings>
</configuration>