@{
    ViewData["Title"] = "Home Page";
}
@model WrfWeb.Models.IndexModel

Simulation Start Date: <b>@Model.SimulationStartDate.ToString()</b>

<div id="curve_chart" style="width: 100%;"></div>

<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable(@Html.Raw(Json.Serialize(Model.PrecipSummary)));

        var options = {
            title: 'Average Precip over Lancaster County, NE (in mm)',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
</script>